.w-100{
    width: 100% !important;
    height: 100% !important;
}

.rounded_pill{
    border-radius: 5rem;
}

@media(min-width:600px){

#top_actions_section{
    
    display: flex !important;
    align-items: center;
}
}